:root {
  --softBlue: #5468e7;
  --softViolet: #c897e4;
  --darkBlue: #232340;
  --desaturatedBlue: #7676b2;
  --offWhite: #f5f5f5;
  --lightOrange: #ffba79;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  overflow-x: hidden;
}

section .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  color: var(--darkBlue);
  font-size: 50px;
  font-weight: 700;
}

section p {
  color: rgba(35, 35, 64, 0.9);
  font-size: 18px;
  font-weight: 400;
  padding: 24px 0px 48px 0px;
}

section a {
  color: var(--softBlue);
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
  padding-right: 8px;
}

#navbar {
  background-color: var(--darkBlue);
}

/* toggle */
.navbar-toggler {
  border: 0 !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
  transition: all 0.2s;
}
.middle-bar {
  margin: 5px auto;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .toggler-icon {
  background-color: #ffffff;
}

/* navbar */
.navbar {
  transition: all 500ms ease-in-out;
}

.navbar .container-fluid {
  padding: 0px 140px;
}

.navbar > div {
  transition: all 1000ms ease-in-out;
}

.navbar .navbar-brand {
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -1.04px;
  color: var(--offWhite);
}

.navbar span {
  color: var(--softBlue);
  letter-spacing: 0;
}

.navbar .nav-link {
  color: var(--offWhite);
  font-size: 16px;
  text-shadow: 0px 8px 16px 0px rgba(35, 35, 64, 0.6);
  text-decoration: underline;
  margin-right: 46px;
}

.nav-link:hover {
  color: var(--softBlue);
  transition: all 500ms ease-in-out;
}

.navbar .btnGet {
  background-color: var(--softBlue);
  border: none;
  border-radius: 4px;
  background: rgba(84, 104, 231, 0.5);
  box-shadow: 0px 3px 3px rgba(58, 58, 58, 0.24);
}

.btnGet:hover {
  background-color: #5468e7;
  transition: all 400ms ease-in-out;
}

.btnGet a {
  text-decoration: none;
  color: var(--offWhite);
  padding: 10px 44px;
}
/* end navbar */

/* hero */
.hero {
  height: 100vh;
  background-image: url(../img/hero/christina-wocintechchat-com-L85a1k-XqH8-unsplash\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero .container-fluid {
  padding: 50px 140px 0px 140px;
}

.hero h1 {
  color: var(--offWhite);
  font-size: 50px;
  font-weight: 700;
}

.hero p {
  color: var(--offWhite);
  font-size: 18px;
  font-weight: 400;
  padding: 16px 0px 56px 0px;
}

.hero input {
  border-radius: 4px;
  border: 2px solid var(--grayish-blue, #d1ecfd);
  background: var(--offWhite, #f5f5f5);
  display: flex;
  width: 298px;
  padding: 11px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-right: 16px;
}

.hero i {
  position: absolute;
  font-size: 24px;
  color: var(--desaturatedBlue);
  left: 255px;
  top: 6px;
}

.hero .btnGet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--softBlue, #5468e7);
}

.btnGet:hover {
  background-color: #3b51e6;
}

.hero a {
  color: var(--offWhite, #f5f5f5);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
/* end hero */

/* section satu */
.satu {
  margin: 80px 0px 0px 0px;
}

.satu .satuLeft {
  padding: 0px 0px 0px 130px;
}

.satu .satuRight {
  position: relative;
  /* overflow: hidden; */
}

.satuRight .web {
  position: relative;
  z-index: 2;
}

.satuRight .taskToday {
  position: absolute;
  left: -100px;
  top: 10px;
}

.satuRight .mentors {
  position: absolute;
  bottom: 110px;
  left: -120px;
  z-index: 3;
}

.satuRight .send {
  position: absolute;
  z-index: 4;
  top: 280px;
  left: 150px;
}
/* end section satu */

/* section dua */
.dua {
  margin: 120px 0px 0px 0px;
}

.dua .row {
  padding: 0px 130px;
}

.dua .duaLeft {
  position: relative;
}

.duaLeft .calender {
  position: absolute;
  right: 75px;
  top: 20px;
}
/* end section dua */

/* section tiga */
.tiga {
  margin: 120px 0px 0px 0px;
}

.tiga .row {
  padding: 0px 130px;
}

.tiga .tigaRight {
  position: relative;
}

.tigaRight .atas {
  position: absolute;
  top: 220px;
  right: 35px;
}

.tigaRight .bawah {
  position: absolute;
  bottom: 24px;
  right: 35px;
}
/* end section tiga */

/* section empat */
.empat {
  margin: 120px 0px 0px 0px;
}

.empat .row {
  padding: 0px 130px;
}

.empat .empatLeft {
  position: relative;
}

.empatLeft .atas {
  position: absolute;
  left: 35px;
  bottom: 120px;
}

.empatLeft .bawah {
  position: absolute;
  left: 35px;
  bottom: 23px;
}
/* end section empat */

/* testimoni */
.testimoni {
  margin: 200px 0px 0px 0px;
}

.testimoni h1 {
  padding-bottom: 120px;
}

.testimoni .row {
  padding: 0px 0px 163px 140px;
}

.testimoni .cardTesti {
  background: #fff;
  box-shadow: 0px 16px 24px 0px rgba(118, 118, 178, 0.24);
  border: 1px solid var(--offWhite);
}

.testimoni .wrapper {
  padding: 44px 33px;
}

.wrapper i {
  color: var(--lightOrange);
  width: 32.48px;
  height: 32px;
}

.wrapper p {
  color: rgba(35, 35, 64, 0.9);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.wrapper img {
  padding-right: 14px;
}

.wrapper h3 {
  color: var(--dark-blue, #232340);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.wrapper span {
  color: var(--desaturated-blue, #7676b2);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.14px;
}

/* footer */
footer {
  background-color: var(--darkBlue);
}

footer .container {
  padding-top: 73px;
}

footer h1 {
  color: var(--offWhite);
  font-size: 50px;
  font-weight: 600;
}

footer span {
  color: var(--softBlue);
}

footer p {
  color: var(--offWhite);
  padding-top: 16px;
  font-size: 14px;
  font-weight: 400;
}

footer h4 {
  font-size: 24px;
  font-weight: 400;
  color: var(--softBlue);
}

footer ul li {
  list-style: none;
  margin-left: -30px;
  padding: 6px 0px;
}

footer a {
  color: var(--offWhite);
  text-decoration: none;
  font-size: 14px;
}

footer a:hover {
  color: #ffffff80;
  /* color: var(--desaturatedBlue); */
}

footer input {
  width: 268px;
  padding: 11px 16px;
  border-radius: 4px;
  border: none;
  background: rgba(245, 245, 245, 0.24);
  margin: 10px 0px 0px 0px;
}

footer input::placeholder {
  padding-left: 16px;
  color: var(--offWhite);
}

footer i {
  top: 13px;
  left: 230px;
  color: var(--offWhite);
  font-size: 24px;
  font-weight: 600;
}

footer .copy {
  padding-bottom: 37px;
}
/* end footer */

/* back to top */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 45px;
  height: 45px;
  background-color: var(--softBlue);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  z-index: 100;
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: var(--desaturatedBlue);
  color: #fff;
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}
/* zoomOut */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

/* tablet */
@media (max-width: 991.98px) {
  .navbar .container-fluid {
    padding: 0px 30px;
  }

  .navbar .nav-link {
    margin-right: 0px;
    text-decoration: none;
  }

  .navbar .btnGet {
    padding: 13px 0px;
  }

  .hero {
    height: 65vh;
  }

  .hero .container-fluid {
    padding: 0px 30px;
  }

  .satu {
    margin: 100px 0px 0px 0px;
  }

  .satu .satuLeft {
    margin: 48px 0px 0px 0px;
    padding: 0px 30px 76px 30px;
    order: 2;
  }

  .satu .satuRight {
    padding: 0px;
    order: 1;
    /* overflow: hidden; */
  }

  .satuRight .web {
    left: 180px;
  }

  .satuRight .taskToday {
    left: 50px;
    top: 5px;
  }

  .satuRight .mentors {
    bottom: 110px;
    left: 15px;
  }

  .satuRight .send {
    top: 285px;
    left: 285px;
  }

  .dua {
    margin: 80px 0px 0px 0px;
  }

  .dua .row {
    padding: 0px;
  }

  .dua .duaLeft {
    padding: 0px 24px 0px 0px;
  }

  .duaLeft .calender {
    right: 35px;
    top: 12px;
    width: 200px;
  }

  .dua .duaRight {
    padding: 0px 24px 0px 0px;
  }

  .dua h1,
  .tiga h1,
  .empat h1 {
    font-size: 34px;
    font-weight: 700;
  }

  .dua p,
  .tiga p,
  .empat p {
    font-size: 16px;
    font-weight: 400;
  }

  .tiga {
    margin: 64px 0px 0px 0px;
  }

  .tiga .row {
    padding: 0px;
  }

  .tiga .tigaLeft {
    padding: 0px 24px;
  }

  .tiga .tigaRight {
    padding: 0px;
  }

  .tigaRight .atas {
    top: 12px;
    right: 12px;
    width: 170px;
  }

  .tigaRight .bawah {
    top: 95px;
    right: 12px;
    width: 170px;
  }

  .empat {
    margin: 64px 0px 0px 0px;
  }

  .empat .row {
    padding: 0px;
  }

  .empat .empatLeft {
    padding: 0px;
  }

  .empatLeft .atas {
    left: 12px;
    bottom: 100px;
    width: 170px;
  }

  .empatLeft .bawah {
    left: 12px;
    bottom: 15px;
    width: 170px;
  }

  .empat .empatRight {
    padding: 0px 24px;
  }

  .testimoni {
    margin: 100px 0px 0px 0px;
  }

  .testimoni h1 {
    padding: 0px 52px 80px 52px;
  }

  .testimoni .row {
    padding: 0px 0px 104px 0px;
  }

  .testimoni .btnSwiper {
    padding-right: 20px;
  }
}

/* mobile */
@media (max-width: 575.98px) {
  .navbar .container-fluid {
    padding: 0px 30px;
  }

  .navbar .nav-link {
    margin-right: 0px;
    text-decoration: none;
  }

  .navbar .btnGet {
    padding: 12px 44px;
  }

  .hero {
    height: 100vh;
    padding-top: 50px;
  }

  .hero .container-fluid {
    padding: 0px 30px;
  }

  .hero h1 {
    font-size: 34px;
    font-weight: 700;
  }

  .hero p {
    font-size: 16px;
    font-weight: 400;
  }

  .hero input {
    width: 100%;
    margin-right: 0px;
  }

  .hero i {
    font-size: 24px;
    left: 255px;
    top: 6px;
  }

  .hero .btnGet {
    margin-top: 16px;
  }

  .satu {
    margin: 40px 0px 0px 0px;
  }

  .satu .satuLeft {
    margin: 48px 0px 0px 0px;
    padding: 0px 30px 66px 30px;
    order: 2;
  }

  .satu .satuRight {
    order: 1;
    padding-top: 0px;
    margin-top: 100px;
    /* overflow-x: hidden; */
  }

  .satuRight .web {
    left: 140px;
  }

  .satuRight .taskToday {
    left: 50px;
    top: 55px;
  }

  .satuRight .mentors {
    bottom: 40px;
    left: 20px;
  }

  .satuRight .send {
    top: 245px;
    left: 230px;
  }

  .satu h1 {
    font-size: 34px;
    font-weight: 700;
  }

  .dua {
    margin: 40px 0px 0px 0px;
  }

  .dua .row {
    padding: 0px;
  }

  .dua .duaLeft {
    padding: 0px 20px 0px 0px;
  }

  .duaLeft .calender {
    left: 165px;
    top: 8px;
    width: 200px;
  }

  .dua .duaRight {
    margin-top: 48px;
    padding: 0px 0px 0px 24px;
  }

  .tiga {
    margin: 72px 0px 0px 0px;
  }

  .tiga .row {
    padding: 0px;
  }

  .tiga .tigaLeft {
    margin-top: 48px;
    padding: 0px 0px 0px 24px;
    order: 2;
  }

  .tiga .tigaRight {
    margin-top: 48px;
    padding: 0px 20px 0px 0px;
    order: 1;
  }

  .tigaRight .atas {
    top: 12px;
    right: 35px;
    width: 120px;
  }

  .tigaRight .bawah {
    top: 73px;
    right: 35px;
    width: 120px;
  }

  .empat {
    margin: 87px 0px 0px 0px;
  }

  .empat .row {
    padding: 0px;
  }

  .empat .empatLeft {
    padding: 0px 20px 0px 0px;
  }

  .empatLeft .atas {
    left: 12px;
    bottom: 78px;
    width: 120px;
  }

  .empatLeft .bawah {
    left: 12px;
    bottom: 15px;
    width: 120px;
  }

  .empat .empatRight {
    margin-top: 48px;
    padding: 0px 0px 0px 24px;
  }

  .testimoni {
    margin: 120px 0px 0px 0px;
  }

  .testimoni h1 {
    padding: 0px 40px 80px 40px;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
  }

  .testimoni .row {
    padding: 0px 0px 80px 0px;
  }

  .testimoni .btnSwiper {
    padding-top: 28px;
  }

  footer .footSatu {
    order: 2;
  }
  footer .footDua {
    order: 3;
  }
  footer .footTiga {
    order: 4;
    padding-bottom: 100px;
  }
  footer .footEmpat {
    order: 1;
  }
}
